body {
}
h1, h2, h3, h4, h5, h6 {
	font-family: sans-serif;
}
img {
	border: 0;
}
header {
	margin: 0;
	padding-top: 1em;
	text-align: center;
}
section {
	margin: 1em;
	color: #000;
	font-family: serif;
	padding: 0em 1em;
	border: solid thin;
}
footer {
	text-align: center;
}
footer li {
	display: inline;
}
footer img {
    margin-left: 1em;
}
